*************************************(20/03/2026-02:00)************************************

SERVICIO DE EXAPLE
***********************
CDRs DEL DÍA 17/03/2026
--------------------------------------------
Procesados en el día (17/03/2026): 12345
Procesados en el día (18/03/2026): 67890
Procesados en el día (19/03/2026): 23456

CDRs DEL DÍA 18/03/2026
--------------------------------------------
Procesados en el día (18/03/2026): 9876
Procesados en el día (19/03/2026): 5432

### REPORT COMPLETED SUCCESSFULLY ON Fri Mar 20 02:00:01 UTC 2026 ###